<%= stylesheet_link_tag    "home", media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="navbar navbar_inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">KeyCoopt</a>
    </div>
    <u class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Mon profil', profil_path %></li>
        <li class="nav-item"><%= link_to 'Se déconnecter', destroy_session_path, data: {method: :delete} %></li>
      <% else %>
        <li><a href="<%= new_user_path %>">S'incrire</a></li>
        <li><a href="<%= new_session_path %>">Se connecter</a></li>
      <% end %>
    </u>
  </div>
</div>



<div class="container" style="margin-top:30px">
  <br>
  <div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
      <div class="modal-content">
        <div class="panel-heading">
          <h3 class="panel-title">Se connecter</h3>
        </div>
        <div class="panel-body">
          <%= form_for :user,url: new_session_path ,class: 'form-horizontal' do |f| %>
            <form role="form">
              <fieldset>
                <div class="form-group">
                  <%= f.text_field :username, class: 'form-control', placeholder: 'Email ou nom' %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, class: 'form-control', placeholder: 'Mot de passe' %>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Se connecter</button>
              </fieldset>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
