<%= stylesheet_link_tag    "home", media: 'all', 'data-turbolinks-track': 'reload' %>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="navbar navbar_inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">KeyCoopt</a>
    </div>
    <u  class="nav navbar-nav navbar-right">
      <% if current_user %>

        <% else %>

      <li><a href="<%= new_user_path %>">S'incrire</a></li>
      <li><a href="">Se deconnecter</a></li>
        <% end %>
    </u>
  </div>
</div>


<div class="container" style="margin-top:30px">
  <br>
  <div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
      <div class="modal-content">
        <div class="panel-heading">
          <h3 class="panel-title">S'inscrire</h3>
        </div>
        <div class="panel-body">
          <%= form_for @user, class: 'form-horizontal' do |f| %>
          <form role="form">
            <fieldset>

              <div class="form-group">
                <%= f.text_field :username, class: 'form-control', placeholder: "Nom de l'utilisateur" %>
              </div>

              <div class="form-group">
                <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: 'Mot de passe' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmer le mot de passe' %>
              </div>

              <button type="submit" class="btn btn-outline-primary btn-sm">S'inscrire</button>

            </fieldset>
          </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>

</div>
