<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


  <div class="container text-center">
    <h1>Publications</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Annonce</th>
          <th>Date de publication</th>
          <th>Facture</th>
        </tr>
      </thead>

      <tbody>
        <% @post.each do |post| %>
          <tr>
            <td><%= post.name %> </td>
            <td><%= post.description %> </td>
            <td><%= post.created_at %> </td>
            <td><button type="button" class="btn btn-outline-primary btn-sm">Genered</button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div/>