<%= stylesheet_link_tag    "home", media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container text-center">
  <h1>Publications</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Client</th>
      <th>Titre</th>
      <th>Date de publication</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%= @post.name %> </td>
      <td><%= @post.title %> </td>
      <td><%= @post.created_at %> </td>

    </tr>
    </tbody>
  </table>


</div>