<div class="container text-center">
  <h1>Publications</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Client</th>
      <th>Titre</th>
      <th>Date de publication</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%= @post.name %> </td>
      <td><%= @post.title %> </td>
      <td><%= @post.created_at %> </td>

    </tr>
    </tbody>
  </table>


</div>